*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('bg.jpg');
}

.box{
    padding: 50px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;

    background-color: white;
    width: 400px;

}
.box>h3{
    margin-bottom: 20px;
    text-align: center;
}

.box>form{
    display: flex;
    flex-direction: column;
}
form>label{
    margin-bottom: 10px;
}

form>input{
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;

    max-width: 600px;
}

form>button{
    background-color: yellow;

    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;

    font-weight: 600;

}

form>button:hover{
    filter: brightness(95%);
}

.hasil{
    text-align: center;
}